*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-blue: #73ade7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
/* html{
  font-size: 62.5%;
} */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /* font-family: "Quicksand", sans-serif; */
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink) ;
}

.menu {
  display: none;
}
.navbar-logo {
  align-self: center;
}
.logo { 
  width: auto;
  height: 40px;
  align-self: center;
}
.navbar-left ul,.navbar-right ul {
  list-style:none;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display:flex;
}
.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul a,.navbar-right ul a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white) ;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul a:hover,.navbar-right ul a:hover {
  border: 1px solid var(--hospital-blue);
  color: var(--hospital-blue);
  cursor: pointer;
}

.navbar-shopping-cart{
  cursor: pointer;
  position: relative;
}

.navbar-shopping-cart div{
  width: 16px;
  height: 16px;
  background-color:var(--hospital-blue);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}


/* Search */
main #search{
  grid-area: search;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 220px;
  max-width: 250px;
  padding: 0.4rem;
  padding-top: 1.8rem;
  border: none;
  border-bottom: 1px solid var(--very-light-pink);
  background-color: transparent;
  color:var(--black);
  font-size: var(--md);
  font-weight: bold;
}
main #search:focus{
  outline: none;
}

/* Carrito contenido */
.product-detail {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background-color: var(--white);
  z-index: 2;
  visibility: hidden;
}
.active{
  visibility: visible;

}

.title-container {
  display: flex;
  margin-bottom: 10px;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p{
  margin-top: 16px;
  margin-bottom: 16px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
} 


.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-blue);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.btn-borrar, .btn-restar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn-borrar:hover,
.btn-borrar:focus,
.btn-restar:hover,
.btn-restar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Datos Finalizar compra */
.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
  margin-bottom: 32px;
}
.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: auto;
  min-width: 290px;
}
.form{
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

/* Productos */
.productos {
  grid-area: productos;
  margin:1rem auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  /* max-height: 87vh; */
  /* overflow-y: scroll ; */
}
.productos .producto{
  border: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}
.productos .producto img{
  width: 100%;
  height: auto;/* re */
  border-radius: 5px;
  overflow: hidden;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px  ;
}

.product-info figure {
  margin: 0;
  cursor: pointer;
}
.product-info figure:hover {
  filter:saturate(1.5)
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0px;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* The Modal (background) */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 15px;
  /* border: 1px solid #888; */
  width: 500px;
  min-width: 290px;
  min-height: 300px;
}

/* The Close */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--very-light-pink);
}
footer p{
  font-weight: bold;
  text-align: center;
  font-size: var(--md);
}

@media (max-width: 640px) {
  header {
    padding: 0 10px;
  }
  .navbar-left ul {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .shopping-cart{
    gap: 10px;
  }
}

@media (min-width: 768px){
  header .nav {
    display: flex;
  }
  
}